.backdrop {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  // transition: opacity transform;
  opacity: 1;
  &.visually-hidden {
    opacity: 0;
    // pointer-events: none;
    // transform: translate(-50%, -50%) scale(0.9);
  }

  &.visually-hidden .modal {
    opacity: 0;
    // transition-duration: 5000ms;
    // transition: opacity transform;
    // transform: translate(-50%, -50%) scale(0.9);
  }
}

.modal {
  width: calc(100% - 30px);
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;

  // transition-duration: 5000ms;
  // opacity: 1;
  transform: translate(-50%, -50%);

  padding: 40px;
  font-size: 5px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.modal__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 20px;
}

.modal-open {
  overflow: hidden;
}

.modal-close {
  & {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: #000;
    transition: transform $main-transition;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    fill: var(--accent-color);
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    transition: $main-transition;
  }
}

.modal-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondary-color;
  padding-bottom: 30px;

  &__link {
    color: $secondary-color;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  &__link:hover {
    cursor: pointer;
  }

  &__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    // @include respond-to(desktop) {
    //   font-size: 14px;
    //   line-height: 1.7;
    //   letter-spacing: 0.03em;
    // }
  }
  &__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    min-height: 16px;
    min-width: 16px;
    border: 2px solid #000;
    border-radius: 2px;
    margin-right: 9px;
    transition: border $main-transition;
  }

  &--hidden:checked + .modal-checkbox__icon {
    background-color: $secondary-color;
    border-color: $secondary-color;
    background-image: url('../images/icon check.svg');
    background-size: contain;
    background-origin: border-box;
  }

  &--hidden:focus ~ .modal-checkbox__icon {
    border: 2px solid $secondary-color;
  }

  &:hover .modal-checkbox__icon {
    border: 2px solid $secondary-color;
  }

  &--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}

.modal-form {
  &__wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 28px;
  }

  &__wrap:nth-child(4) {
    margin-bottom: 0px;
  }

  &__input {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 42px;
    font-size: 14px;
    line-height: 1.17;
    color: $secondary-text-color;
    transition: border-color $main-transition;
  }

  .modal-comment {
    transition: border-color $main-transition;
  }

  &__input:focus,
  .modal-comment:focus {
    border-color: var(--accent-color);
  }

  &__label {
    position: absolute;
    display: block;
    top: 50%;
    left: 42px;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $secondary-text-color;
    line-height: 1.17;
    letter-spacing: 0.01em;
    transform: translateY(-50%);
    transition: transform $main-transition;
  }

  &__wrap:focus-within > .modal-form__label,
  &__input:not(:placeholder-shown) + .modal-form__label {
    transform: translate(-42px, -3.1em);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: var(--secondary-text-color);
    transition: fill $main-transition;
  }

  &__wrap:focus-within > .modal-form__icon {
    fill: var(--accent-color);
  }

  &__wrap:focus-within > .modal-comment__input {
    border-color: var(--accent-color);
  }
}
.comment {
  min-height: 120px;
}
.comment-label {
  position: absolute;
  top: -1.5em;
  left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding-bottom: 4px;
  color: $secondary-text-color;
}

.modal-comment__input {
  position: relative;
  width: 100%;
  min-height: 100%;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.17;
  color: $secondary-text-color;

  &::placeholder {
    position: absolute;
    font-size: 14px;
    line-height: 1.17;
    color: #75757580;
    z-index: 10;
  }
}
.label-position {
  position: relative;
  display: block;
}

.modal-submit {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
