.activity {
  background-color: #111319;
  background-image: url(../images/price-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 85px 0;
  max-width: 1280px;
  margin: 0 auto;
  @include tab {
    padding: 100px 0;
  }
}

.activity__container {
  padding: 0 30px;
}

.activity-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.activity-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
  font-size: 42px;
  font-weight: 700;
}

.activity-wrap {
  // flex-wrap: wrap;
  padding: 30px 16px;
  margin-bottom: 50px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  @include tab {
    padding: 30px 75px;
  }
  @include desk {
    display: flex;
    padding: 0;
  }
}

.activity-list {
  width: 100%;
  // padding: 30px 16px;

  @include tab {
    width: 100%;
    // padding: 30px 75px;
  }
  @include desk {
    width: 50%;
    padding: 30px 75px;
  }
}

.activity-list-right {
  margin-top: 30px;

  @include desk {
    // outline: 1px solid red;
    padding-left: 40px;
    padding-right: 20px;
    // width: 50%;

    height: 100%;
    margin-top: 0;
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

// .activity-list:nth-child(4n-1),
// .activity-list:nth-child(4n-2) {
//   background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
// }

/* .activity-list:nth-child(odd) {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.activity-list:nth-child(even) {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
} */

.activity-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &:first-child {
    margin-top: 0;
  }
}

.activity-item {
  margin-top: 30px;
}

// .activity-item::before {
//   content: '';

//   border-bottom: 1px solid rgba(157, 164, 189, 0.12);
//   margin-left: 6px;
//   margin-right: 6px;

//   flex-grow: 1;
// }

.activity-text {
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;

  @include tab {
    font-size: 18px;
  }
}

.activity-text:first-child {
  order: -1;
}

.activity-btn {
  color: var(--first-btn-color);
  margin: 0 auto;
  display: block;
}

.activity-btn:hover,
.activity-btn:focus {
  color: var(--accent-color);
}
