.contacts-section {
  // padding: 85px 0;
  margin-top: -5px;
  // @include tab {
  //   padding: 45px 0;
  // }
}

.contact-wrap {
  // margin: -85px 0;
  // height: 500px;
  padding: 85px 0;
  @include tab {
    padding: 45px 0;
  }
}

.adress-title {
  color: #fff;
  //   font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  margin-bottom: 20px;
}

.adress-tab {
  margin-left: 35px;
}

.contacts-container {
  padding: 0 45px;
  @include tab {
    display: flex;
  }
}

.contacts-left,
.contacts-right {
  width: 100%;
  // outline: 1px solid red;
}

.contacts-right {
  display: flex;
  align-items: center;
}

// .schedule-container {
//   margin: auto 0;
// }
.contacts-item__link {
  color: #9da4bd;
  font-size: 18px;
  font-weight: normal;
  line-height: calc(30 / 18);
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

// .contacts-list {
//   outline: 1px solid red;

// }

.contacts-item {
  margin-bottom: 10px;
}

.link-adress::before {
  content: url(../images/map-pin.png);
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.link-phone::before {
  content: url(../images/phone.png);
  margin-right: 10px;
  position: relative;
  top: 5px;
}
.link-letter::before {
  content: url(../images/mail.png);
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.contacts-pre-title {
  margin-top: 40px;
  color: var(--header-text-color);
  @include tab {
    margin: 0;
  }
}

.schedule {
  font-size: 18px;
  color: #9da4bd;
  letter-spacing: 2%;
  line-height: calc(30 / 18);
}
