.footer {
  background-color: #f7f7f7;
  height: 95px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-social-list {
  position: relative;
  display: flex;
  margin-top: 50px;
  margin-right: 50px;
  &::before {
    position: absolute;
    top: 10px;
    left: -60px;
    content: '';
    height: 1px;
    width: 60px;
    background-color: #000;
  }
}
.footer-social-item {
  margin-left: 40px;
}

.footer-social-link {
  font-size: 12px;
  font-weight: 600;
  color: #303030;
  transition: $main-transition;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.copyrights {
  margin-top: 80px;
  font-size: 11px;
  color: #9da4bd;
}
