.guarantees {
  padding: 85px 0;
  background-color: var(--second-sect-bckgrnd);
}

.guarantees__pre-title {
  margin-bottom: 20px;
  &::before {
    content: '';

    width: 60px;
    height: 1px;

    margin-right: 20px;
    background-color: var(--second-title-color);
  }
}

.guarantees-after-title {
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.07px;
  color: var(--second-title-color);

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  &:last-child {
    margin-bottom: 50px;
  }
}

.guarantees-list {
  display: none;
}

.guarantees__btn {
  color: var(--second-btn-color);
  margin: 0 auto;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
