.guarantees {
  padding: 85px 0;
  background-color: var(--second-sect-bckgrnd);
  //   display: flex;
  //   flex-direction: column;
}

.garantees-container {
  padding: 0 40px;
  // flex-direction: column;
  @include tab {
    display: flex;
    flex-direction: row;
  }
}

.guarantees__pre-title {
  margin-bottom: 20px;
  &::before {
    content: '';

    width: 60px;
    height: 1px;

    margin-right: 20px;
    background-color: var(--second-title-color);
  }
}

.guarantees-after-title {
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.07px;
  color: var(--second-title-color);
  margin: 30px 0;
}

.guarantees-list {
  display: none;
  flex-shrink: 0;
  margin-left: 64px;
  @include tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @include desk {
    flex-direction: row-reverse;
  }
}

.guarantees-list__item:first-child {
  @include tab {
    margin-bottom: 35px;
    // outline: 1px solid red;
  }
  @include desk {
    margin-left: 30px;
  }
}

.guarantees__btn {
  color: var(--second-btn-color);
  margin: 0 auto;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
