.reasons {
  padding: 85px 0;
}

.reasons-container {
  padding: 0 40px;
  // outline: 1px solid red;
  // display: flex;
  // flex-direction: column-reverse;
  // justify-content: space-between;
}

// .reasons-left,
// .reasons-right {
//   width: calc((100% - 30px) / 2);
// }

// .reasons-left {
//   display: flex;
//   justify-content: center;
// }

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include tab {
    width: calc(100% - 240px);
    margin: 0 auto;
  }
}

.reasons-item {
  width: calc((100% - 30px) / 2);
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
}

.reasons-item:nth-child(odd) {
  margin-right: 30px;
}

.reasons-item:nth-child(even) {
  margin-top: 30px;
}

// .reasons-item-dif {
//   padding: 20px;
// }

.reasons-count {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--first-text-color);
  display: block;
  text-align: center;
  margin-bottom: 6px;
  &::after {
    content: '+';
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 5;
  }
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--first-text-color);
}

.reasons-right {
  margin-bottom: 40px;
}
.reasons-pre-title {
  color: var(--first-text-color);
  margin-bottom: 20px;
}

.reasons-title {
  font-size: 25px;
  color: var(--first-text-color);
  margin-bottom: 20px;
}

.reasons-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
